button {
  margin-top: 10px;
}

.login-button {
  width: 183px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0.8rem;
}

.start-button {
  width: 183px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 0.8rem;
  background-color: #faffaf;
}

.kakao-login-button-image {
  width: 100%;
  height: auto;
}

.logo-text {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: white;
}

@media (max-width: 768px) {
  .logo-text {
    font-size: 3rem;
  }
}

.text-left {
  margin-left: -50px;
}
.text-right {
  margin-right: -100px;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
}

.star:nth-child(2) {
  animation-duration: 3s;
}
.star:nth-child(3) {
  animation-duration: 4s;
}
.star:nth-child(4) {
  animation-duration: 5s;
}
