.card{
  text-align: center;
}

.card-text-container {
  margin: 20px 0;
}

.card-text {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  
}

.menu-buttons {
  display: flex;
}

.menu-button{
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
}

.menu-button:hover {
    background-color: #96C9F4;
}

.card-footer {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fae300;
  border: 0;
}
