.background {
  background: linear-gradient(to bottom, #9dc2df, #0f67b1);
  position: relative; /* 별 위치를 설정하기 위함 */
  overflow: hidden; /* 별이 배경을 벗어나지 않도록 */
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
}

.star:nth-child(2) {
  animation-duration: 3s;
}
.star:nth-child(3) {
  animation-duration: 4s;
}
.star:nth-child(4) {
  animation-duration: 5s;
}
.card {
  width: 40%;
  height: 90vh;
  text-align: center;
  overflow: hidden;
}

.card-img-container {
  width: 100%;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.card-text {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.card-footer {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fae300;
  border: 0;
}
@media (max-width: 768px) {
  .card {
    width: 90%;
    height: 80vh;
  }

  .menu-button {
    font-size: 1rem;
  }
}
